.container {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.ingredientRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ingredientLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: auto;
}

.ingredientRight {
  display: flex;
  align-items: center;
  gap: 8px;

  /* margin-left: auto; */
}

.ingredientImage {
  width: 40px;
  height: 40px;
  border: 2px solid #801ab2;
  border-radius: 50%;
  object-fit: cover;
}

.ingredientIcon {
  width: 24px;
  height: 24px;
}

.ingredientName {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ingredientsContainer {
  max-height: 150px;
  overflow-y: auto;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
