.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 0;
  background-color: #25203b;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
