.profileSection {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;

  /* height: 100vh; */
  margin: 0 50px;
  padding-top: 120px;
}

.leftColumn {
  flex: 1;

  /* flex: 0 0 2px;  
  display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.rightColumn {
  flex: 3;

  /* flex: 1 1 auto;  
  min-width: 0px;    
  display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.link {
  display: flex;
  align-items: center;
  height: 64px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  opacity: 0.8;
}

.link_active {
  color: var(--text-primary-color);
}

.infoText {
  height: 20px;
  margin-top: 80px;
  line-height: 24px;
  opacity: 0.4;
}
