.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 600px;

  /* min-height: 100vh;  */
  margin: 0 auto;
  padding: 20px;
}
