.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.details {
  display: flex;
  justify-content: center; /* горизонтально */
  align-items: center; /* вертикально */
  box-sizing: border-box;
  max-width: 600px;
  min-height: 100vh; /* растянуть на весь экран */
  margin: 0 auto;
  padding: 20px; /* отступы */
}
