.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 50%);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 500px;
  padding: 20px;
  text-align: center;
  background-color: rgb(28 28 33 / 100%);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 30%);
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
