.macronutrients {
  display: flex;
  justify-content: center; /* центрируем блоки по горизонтали */
  gap: 20px; /* отступ между макронутриентами */
  width: 100%;
  max-width: 600px; /* ограничение ширины */
}

.macronutrient {
  display: flex;
  flex-direction: column; /* вертикальная колонка внутри блока */
  align-items: center; /* центрируем текст внутри блока */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* центрирует все блоки по горизонтали */
}

.textCenter {
  text-align: center; /* центрирует текст внутри блока */
}
