.burger_ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.burger_ingredient_price {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.burger_ingredient_counter {
  position: absolute;
  align-self: end;
}
