.header {
  background-color: var(--background);
}

.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex-basis: 35%;
}

.link {
  display: flex;
  color: var(--text-inactive-color);
  text-decoration: none;
}

.link_active {
  color: var(--text-primary-color);
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.iconTextWrapper {
  display: flex;
  align-items: center;
}
